@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 1079px) {
  .img-holder {
    background-image: url(./images/bg-main-mobile.png);
  }
}
@media (min-width: 1080px) {
  .img-holder {
    background-image: url(./images/bg-main-desktop.png);
  }
}
.unset-pos {
  position: unset;
}

@layer components {
  main {
    @apply container mx-auto h-screen relative grid grid-cols-1 xl:grid-cols-2 grid-rows-2 md:grid-rows-none;
  }
  main > span {
    @apply img-holder block fixed top-0 h-1/3 w-full bg-no-repeat bg-cover xl:w-1/4 inset-x-0 xl:bottom-0 xl:h-full;
  }
}
